{% extends "shop/base.html" %}
{% load static %}
{% block title %} Your shopping cart {% endblock %}
{% block content %}
  <h1>Ваша корзина</h1>
  <table class="cart">
    <thead>
      <tr><th>Картинка</th>
          <th>Название продукта</th>
          <th>Количество</th>
          <th>Удалить</th>
          <th>Цена за одну штуку</th>
          <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}
                {% else %}{% static 'img/no_image.png' %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
          <td>
  <form action="{% url 'cart:cart_add' product.id %}" method="post">
    {{ item.update_quantity_form.quantity }}
    {{ item.update_quantity_form.update }}
    <input type="submit" value="Обновить">
    {% csrf_token %}
  </form>
          </td>
            <td><a href="{% url 'cart:cart_remove' product.id %}">Удалить</a></td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Всего</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url 'shop:product_list' %}" class="button light">Продолжить покупки</a>
    <a href="#" class="button">Checkout</a>
  </p>
{% endblock %}